.form-control
    margin 3px
    padding 0
.piece
    margin-bottom 2em
.final0
    display inline-flex
.final
    text-transform uppercase
    margin-left 8px
    padding-left 8px
    border-left 1px solid green
.container
    border-left 5px
.contenedor
	border 1px dashed green
	border-radius 25px
.titulo
	border-bottom 1px dashed green
.parrafo
	border-bottom 1px solid green
.image
	border-bottom 1px solid green
    

