<footer class="FooterContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 NavbarFormFooter">
                <form ng-submit="vm.formSubmit()">
                    <h4 class="TittleFormFooter">Quieres recibir todas las novedades?</h4>
                    <div class="form-group has-feedback" ng-class="vm.validaColor">
                        <div ng-bind-html="vm.el"></div>
                        <input class="form-control" type="email" placeholder="tu@correo.com">
                        <small class="text-muted">No compartiremos tu informacion con nadie mas</small>
                        <span ng-class="vm.validaColorDiv" aria-hidden="true"></span>
                        <span class="sr-only">(Success)</span>
                    </div>
                    <button class="btn btn-primary" type="submit">Suscribirme</button>
                </form>
            </div>
            <div class="col-md-3 col-md-offset-5 NavbarFooter">
                <h4>Navegacion</h4>
                <ul class="nav">
                    <li>
                        <a href="" class="navbar-link fa fa-home"> Home</a>
                    </li>
                    <li>
                        <a href="" class="navbar-link fa fa-book"> Catalogo</a>
                    </li>
                    <li>
                        <a href="" class="navbar-link fa fa-cart-plus"> Carrito</a>
                    </li>
                    <li>
                        <a href="" class="navbar-link fa fa-sign-in"> Login</a>
                    </li>
                    <li>
                        <a href="" class="navbar-link fa fa-star-half-empty"> FAQ</a>
                    </li>
                    <li>
                        <a href="" class="navbar-link fa fa-address-book"> Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>