.Header-container, .InfoContainer
    background-color #99c84a
    color white 

.Header-container .navbar-toggle
    color white
    font-wight bold
    font-size 25px

.Header-container .Login
    color white
    font-weight bold
    font-size 20px
    text-transform uppercase

.Header-containerAlignV
    display flex
    align-items center

.Header-containerAlignV > div > h1
    margin-top 0
    margin-bottom 0

.navbar-nav > li > a
    color #363636

.MenuContainer
    background-color #f7f7f9

.navbarMargin
    margin-bottom 0

.MarginTopSearch
    margin-top 1em
    margin-bottom 1em

.btn.Btn-adsi
    background-color #99c84a
    color white

.btn.Btn-adsi:hover
    background-color #8ab542

.AlignNavbar
    display flex
    align-items center
    flex-flow row wrap

input.form-control:focus
    border-color #8ab542

.AlignItemsNavbar
    display flex
    justify-content center

.IconSearch
    font-size 20px

.navbar-collapse
    margin-bottom 0px

@media (max-width 992px){
    .MarginTopSearch-main {
        margin-bottom 1em
    }
}