.Carousel-container-scroll
    margin-left 0
    margin-right 0

.Carousel-container-padding
    padding-left 0
    padding-right 0

.InfoContainer
    padding-top 1em
    background-color #fafafa

.InfoContainer h4
    margin 1em 0
    color with
    font-weight bold

.Tittle-animated
    font-size 60px
    text-transform uppercase 

.carousel-caption h3:first-child
    animation-delay 1s
.carousel-caption h3:nth-child(2)
    animation-delay 2s
.carousel-caption
    bottom 37% !important
    width 75%
    left 12.8%
