.Carousel-container-scroll
    margin-left 0
    margin-right 0

.Carousel-container-padding
    padding-left 0
    padding-right 0

.InfoContainer
    padding-top 1em
    background-color #fafafa

.InfoContainer h4
    margin 1em 0
    color with
    font-weight bold
